// COLORS
$color-primary: #14cc6a;
$color-primary-light: #bf91f3e5;
$color-primary-dark: #8500f1f6;

$color-secondary-light: #a6ff00;
$color-secondary-dark: #72ff30;

$color-tertiary-light: #ff9b29;
$color-tertiary-dark: #fd6823;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: rgb(78, 78, 78);
$color-grey-dark-3: rgb(37, 37, 37);

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;